.gradle/3.5-rc-2/taskHistory/taskHistory.bin
.gradle/3.5-rc-2/taskHistory/taskHistory.lock
.gradle/buildOutputCleanup/built.bin
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/cache.properties.lock
.idea/compiler.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/libraries/Gradle__junit_junit_4_12.xml
.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3.xml
.idea/misc.xml
.idea/modules.xml
.idea/modules/share_core.iml
.idea/modules/share_core_main.iml
.idea/modules/share_core_test.iml
.idea/vcs.xml
.idea/workspace.xml
out/*
.gradle/*
